body{

background:#f1f5f9;

font-family:
Arial, sans-serif;

}



/* SIDEBAR */


.sidebar{

height:calc(100vh - 56px);

background:#020617;

padding:20px;

}


.sidebar h5{

color:white;

}


.sidebar a{

display:block;

color:white;

text-decoration:none;

padding:12px;

border-radius:8px;

margin-top:10px;

}



.sidebar a:hover{

background:#2563eb;

}






/* SENSOR CARDS */


.sensor-card{


background:white;


border-radius:15px;


padding:20px;


box-shadow:
0 5px 15px rgba(0,0,0,.1);


transition:.3s;


}



.sensor-card:hover{


transform:
translateY(-5px);


}



.sensor-card h2{


font-size:40px;


color:#2563eb;


}








/* LIVE MAP */


#map{


height:350px;


width:100%;


border-radius:15px;


}







/* CHART */


.chart-placeholder{


height:300px;


display:flex;


justify-content:center;


align-items:center;


background:#f8fafc;


font-size:25px;


}

canvas{

max-height:300px;

}
/* =========================
   ALERT POPUP
========================= */


.alert-popup
{

position:fixed;

top:20px;

right:20px;

width:350px;

background:#dc3545;

color:white;

padding:20px;

border-radius:15px;

box-shadow:
0 0 20px red;


display:none;

z-index:9999;


animation:
shake 0.5s infinite;


}



@keyframes shake
{

0%
{
transform:translateX(0);
}


25%
{
transform:translateX(-5px);
}


50%
{
transform:translateX(5px);
}


100%
{
transform:translateX(0);
}


}

