body{

height:100vh;

background:
linear-gradient(
135deg,
#020617,
#2563eb
);

font-family:
Arial;

}


.login-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}


.login-card{


width:350px;

padding:30px;


border-radius:20px;


background:
rgba(255,255,255,0.15);


backdrop-filter:
blur(15px);


color:white;


box-shadow:
0 0 30px black;


}


h2{

text-align:center;

}


h5{

text-align:center;

margin-bottom:20px;

}